<!--The content below is only a placeholder and can be replaced.-->
<div>
    <input type="file" (change)="fileChangeEvent($event)" />
  <image-cropper [ngStyle]="{width: '300px'}"
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="2/2"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <img [src]="croppedImage" [ngStyle]="{width: '300px', borderRadius: '50%'}"/>
  </div>
  